{{#draggable-dropzone dropped="elementDropped"}}
	<a href="#" {{action "click"}} class="{{if isActive "active"}}">
		<i class="small {{boxIcon}}"></i> {{box.name}}
	</a>
{{/draggable-dropzone}}

{{#if box.children}}
<ul class="nav navmenu-nav">
	{{#each box.children as |child|}}
		{{box-item box=child clickAction="childBoxItemClick" elementDropped="childBoxElementDropped" hiddenBoxes=hiddenBoxes activeBoxes=activeBoxes}}
	{{/each}}
</ul>
{{/if}}
