{{#if collapsed}}
	{{model.displayName}}
{{else}}
	{{#if model.hasName}}
		{{model.name}} <span class="text-muted">{{model.mailbox}}@{{model.host}}</span>
	{{else}}
		{{model.mailbox}}@{{model.host}}
	{{/if}}
{{/if}}



