<div class="erizo-messageComposer {{if isWriteMode "is-write-mode"}} {{if isWriteModeReply "is-write-mode-reply"}} {{if isWriteModeForward "is-write-mode-forward"}} {{if isSubjectVisible "is-subject-visible"}} {{if isCcVisible "is-cc-visible"}} {{if isBccVisible "is-bcc-visible"}}" >
	<!-- Thread precomposer -->
	<div class="erizo-messageComposer-precomposer hideOnWriteMode">
		<span class="text-muted">Click here to <a {{action "goToWriteModeReply"}}>answer</a> or <a {{action "goToWriteModeForward"}}>forward</a> the message</span>
	</div>

	<!-- Thread composer -->
	<div class="erizo-messageComposer-composer showOnWriteMode">

		<!-- Subject -->
		<div class="erizo-messageComposer-row erizo-messageComposer-subjectRow showOnSubjectVisible">
			{{input class="erizo-messageComposer-subject" type="text" placeholder="Subject" value=model.subject}}
		</div>

		<!-- To -->
		<div class="erizo-messageComposer-row">
			<div class="erizo-fixeRelative">
				<!-- Mode selector -->
				{{#unless isNewMessage}}
					<div class="erizo-fixeRelative-fixe40">
						<div class="btn-group btn-group-no-margin btn-group-no-shadow">
							<a href="javascript:void(0)" class="erizo-messageComposer-destinationSelector btn btn-default dropdown-toggle" data-toggle="dropdown">
								<i class="small {{if isWriteModeReply "mdi-content-reply"}} {{if isWriteModeForward "mdi-content-forward"}}"></i>
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li class="hideOnWriteModeReply">
									<a href="javascript:void(0)" {{action "goToWriteModeReply"}}><i class="mdi-content-reply small"></i> Reply</a>
								</li>
								<li class="hideOnWriteModeForward">
									<a href="javascript:void(0)" {{action "goToWriteModeForward"}}><i class="mdi-content-forward small"></i> Forward</a>
								</li>
								<hr class="hideOnSubjectVisible"/>
								<li class="hideOnSubjectVisible">
									<a href="javascript:void(0)" {{action "showSubject"}}>Change subject</a>
								</li>
							</ul>
						</div>
					</div>
				{{/unless}}

				<!-- To input -->
				<div class="erizo-fixeRelative-relative erizo-fixeRelative-relative--margin80">
					{{message-composer-addresses class="erizo-messageComposer-to" addresses=model.to placeholder="To"}}
				</div>

				<!-- Cc link -->
				<div class="erizo-fixeRelative-fixe20">
					<a class="cc-link hideOnCcVisible" href="javascript:void(0)" {{action "showCc"}}>Cc</a>
				</div>
				<div class="erizo-fixeRelative-fixe20">
					<a class="bcc-link hideOnBccVisible" href="javascript:void(0)" {{action "showBcc"}}>Bcc</a>
				</div>
			</div>
		</div>

		<!-- Cc -->
		<div class="erizo-messageComposer-row erizo-messageComposer-ccRow showOnCcVisible">
			{{message-composer-addresses addresses=model.cc placeholder="Cc"}}
		</div>

		<!-- Bcc -->
		<div class="erizo-messageComposer-row erizo-messageComposer-bccRow showOnBccVisible">
			{{message-composer-addresses addresses=model.bcc placeholder="Bcc"}}
		</div>

		<!-- HTML editor -->
		<div class="erizo-messageComposer-row erizo-messageComposer-htmlEditorRow">
			{{html-editor htmlValue=model.htmlBody textValue=model.textBody cursorPositionBegin=cursorPositionBegin cursorPositionEnd=cursorPositionEnd parentElementId=elementId}}
		</div>

		<div class="erizo-messageComposer-row erizo-messageComposer-attachmentsRow">
			{{#each model.attachments as |attachment|}}
				<div class="erizo-messageComposer-attachment">
					<div class="erizo-fixeRelative">
						<div class="erizo-fixeRelative-relative erizo-fixeRelative-relative--margin20">
							{{message-composer-attachment model=attachment}}
						</div>
						<div class="erizo-fixeRelative-fixe20">
							<a href="javascript:void(0)" {{action "deleteAttachment" attachment}}><i class="mdi-content-clear small"></i></a>
						</div>
					</div>
				</div>
			{{/each}}
		</div>

		<!-- Toolbar -->
		<div class="erizo-messageComposer-row erizo-messageComposer-toolbarRow">
			<div class="erizo-messageComposer-toolbar">
				<button class="btn btn-default btn-square btn-no-margin btn-xs ql-bold"><i class="mdi-editor-format-bold small"></i></button>
				<button class="btn btn-default btn-square btn-no-margin btn-xs ql-italic"><i class="mdi-editor-format-italic small"></i></button>
				<button class="btn btn-default btn-square btn-no-margin btn-xs ql-strike"><i class="mdi-editor-format-strikethrough small"></i></button>
				<button class="btn btn-default btn-square btn-no-margin btn-xs ql-underline"><i class="mdi-editor-format-underline small"></i></button>
				<button class="btn btn-default btn-square btn-no-margin btn-xs ql-list"><i class="mdi-editor-format-list-numbered small"></i></button>
				<button class="btn btn-default btn-square btn-no-margin btn-xs ql-bullet"><i class="mdi-editor-format-list-bulleted small"></i></button>

				<!-- Attachment editor -->
				<div class="pull-right">
					<span class="btn btn-default btn-square btn-no-margin btn-file">
						<i class="mdi-editor-attach-file small"></i>
						<input type="file" class="erizo-messageComposer-addAttachmentInput" {{action "newAttachment" on="change"}}/>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
