<div {{bind-attr class=":erizo-messageRow model.isSeen::erizo-messageRow--unseen" }}>
	<div class="erizo-fixeRelative">

		<!-- Checkbox -->
		<div class="erizo-fixeRelative-fixe30">
			<div class="erizo-messageRow-checkbox checkbox">
				<label>{{input type="checkbox" checked=isSelected}}</label>
			</div>
		</div>

		<!-- Avatar -->
		<div class="erizo-fixeRelative-fixe30">
			<div class="erizo-messageRow-avatar">
				{{contact-avatar model=model.envelope.from}}
			</div>
		</div>

		<!-- From -->
		<div class="erizo-fixeRelative-fixe200">
			{{#link-to "message" model.uid}}
				<span class="erizo-messageRow-from">{{#each from in model.envelope.from}}{{mail-address model=from}}{{/each}}</span>
			{{/link-to}}
		</div>

		<!-- Subject and preview -->
		<div class="erizo-fixeRelative-relative erizo-fixeRelative-relative--margin420">
			{{#link-to "message" model.uid}}
				<span class="erizo-messageRow-content">
					<span class="erizo-messageRow-subject">{{model.envelope.subject}}</span>
					{{#if model.previewMessage}}
						<span class="erizo-messageRow-preview text-muted"> - {{model.previewMessage}}</span>
					{{/if}}
				</span>
			{{/link-to}}
		</div>

		<!-- Icons -->
		<div class="erizo-fixeRelative-fixe40">
			<div class="erizo-messageRow-icons">
				{{#if model.hasAttachments}}
					<span><i class="erizo-messageRow-icon small mdi-editor-attach-file"></i></span>
				{{/if}}
			</div>
		</div>

		<!-- Date -->
		<div class="erizo-fixeRelative-fixe120">
			<div class="erizo-messageRow-date">
				{{date-formatter model.date null "message-list"}}
			</div>
		</div>
	</div>
</div>

