{{#if isSeen}}
	<td width="1"><input type="checkbox"></td>	
	<td>{{#each from in model.envelope.from}}{{mail-address model=from}}{{/each}}</td>
	<td>{{#link-to 'message' model.uid}}{{model.envelope.subject}}{{/link-to}}</td>
	<td><!--PJ--></td>
	<td>{{date-formatter model.envelope.date null 'll'}}</td>
{{else}}
	<td width="1"><input type="checkbox"></td>	
	<td><strong>{{#each from in model.envelope.from}}{{mail-address model=from}}{{/each}}</strong></td>
	<td><strong>{{#link-to 'message' model.uid}}{{model.envelope.subject}}{{/link-to}}</strong></td>
	<td><!--PJ--></td>
	<td><strong>{{date-formatter model.envelope.date null 'll'}}</strong></td>
{{/if}}

