<div {{bind-attr class=":message-row isSeen::seen" }}>
	<p class="message-row-date pull-right">{{date-formatter model.date null "message-list"}}</p>
	<div class="checkbox message-row-selector message-column">
		<label>
			<input type="checkbox" />
		</label>
	</div>
	<div class="message-row-icon message-column">
		<i class="mdi-social-person"></i>
	</div>
	{{#link-to "message" model.uid}}
		<p class="message-row-from message-column">{{#each from in model.envelope.from}}{{mail-address model=from}}{{/each}}</p>
		<p class="message-row-content message-column">
			<span class="message-row-subject">{{model.envelope.subject}}</span>
			<span class="message-row-preview">{{previewText}}</span>
		</p>
	{{/link-to}}
</div>