<div>
{{#if isTypeMultipartAlternative}}
	{{mime-multipart-alternative model=model}}
{{/if}}

{{#if isTypeMultipartMixed}}
	{{mime-multipart-mixed model=model}}
{{/if}}

{{#if isTypeMultipartRelated}}
	{{mime-multipart-related model=model}}
{{/if}}
	
{{#if isTypeTextHtml}}
	{{mime-text-html model=model}}
{{/if}}
	
{{#if isTypeTextPlain}}
	{{mime-text-plain model=model}}
{{/if}}
</div>