<header>
	<div class="row">
		<div class="small-11 column">
			<p>New message</p>

		</div>
		<div class="small-1 column">
			<a class="item"><i {{action 'hide'}} class="small foundicon-remove"></i></a>
		</div>
	</div>

</header>

<div class="row">
	<div class="small-12 column">
		{{input type="text" placeholder="From" value=message.from}}
	</div>
</div>
<div class="row">
	<div class="small-12 column">
		{{input type="text" placeholder="To" value=message.to}}
	</div>
</div>

<div class="row">
	<div class="small-12 column">
		{{input type="text" placeholder="Subject" value=message.subject}}
	</div>
</div>

<div class="row">
	<div class="small-12 column">
		{{textarea type="text" rows="15" placeholder="Type your message here ..." value=message.text}}
	</div>
</div>

<div class="row">
	<div class="small-12 column">
		<a {{action 'send'}} class="button">Send !</a>
	</div>
</div>

<footer>
</footer>