<div class="new-message">
	<!-- Title bar -->
	<div class="new-message-title-bar clearfix">
		{{#if isOpen}}
			{{title}}
		{{else}}
			<a {{action "toggleHide"}}>{{title}}</a>
		{{/if}}

		<div class="pull-right">
			<a {{action "toggleHide"}}><i class="mdi-content-remove"></i></a>
			<a {{action "close"}}><i class="mdi-content-clear"></i></a>
		</div>
	</div>


	{{#if isOpen}}
	<div class="new-message-body">

		<!-- Message composer -->
		{{message-composer newMessage=newMessage isSubjectVisible="true"}}


		<button type="submit" class="btn btn-primary new-message-send" {{action "sendMessage"}}>Send</button>

	</div>
	{{/if}}
</div>
