<div {{bind-attr class=":erizo-threadMessage collapsed:erizo-threadMessage--collapsed"}}>
	<div class="erizo-fixeRelative">
		<!-- Icon -->
		<div class="erizo-fixeRelative-fixe40">
			{{contact-avatar model=model.envelope.from}}
		</div>

		<!-- Message -->
		<div class="erizo-fixeRelative-relative erizo-fixeRelative-relative--withPadding erizo-fixeRelative-relative--margin40">
			<!-- Header -->
			<div class="erizo-threadMessage-header">
				<div class="erizo-fixeRelative" {{action "toggleCollapse"}}>

					<!-- Meta -->
					<div class="erizo-fixeRelative-relative--margin120">
						<!-- From -->
						<div class="erizo-threadMessage-addressBlock erizo-threadMessage-from">
							{{#each address in model.envelope.from}}
								{{mail-address model=address}}
							{{/each}}
						</div>

						<!-- To -->
						{{#if model.envelope.hasTo}}
							<div class="erizo-threadMessage-addressBlock erizo-threadMessage-to">
								<span>To </span>
								{{#each address in model.envelope.to}}
									{{mail-address model=address collapsed=true}}
								{{/each}}
							</div>
						{{/if}}

						<!-- Cc -->
						{{#if model.envelope.hasCc}}
							<div class="erizo-threadMessage-addressBlock erizo-threadMessage-cc">
								<span>Cc: </span>
								{{#each address in model.envelope.cc}}
									{{mail-address model=address collapsed=true}}
								{{/each}}
							</div>
						{{/if}}
					</div>

					<!-- Date -->
					<div class="erizo-fixeRelative-fixe120 text-right">
						{{date-formatter model.date null "ll"}}
					</div>
				</div>
			</div>

			<!-- Body -->
			<div class="erizo-threadMessage-body">
				{{html-message-display model=model.part.htmlMessage}}
			</div>

			<!-- Attachments -->
			<div class="erizo-threadMessage-attachments">
				{{#each attachmentPart in model.part.attachmentParts}}
					<div class="erizo-threadMessage-attachment">
						{{thread-message-attachment model=attachmentPart}}
					</div>
				{{/each}}
			</div>

			<!-- Body preview -->
			<div class="erizo-threadMessage-body-preview" {{action "toggleCollapse"}}>
				<span class="text-muted">{{model.part.previewMessage}}</span>
			</div>

		</div>
	</div>
</div>
