<!-- Bottom bar -->
{{#if hasSelectedMessages}}
	<nav id="bottom-toolbar" class="navbar navbar-default navbar-fixed-bottom nav-erizo" role="navigation">
		<div class="container-fluid">
			<div class="buttons text-center">
				<button {{action "deleteSelectedMessages"}} class="btn btn-flat btn-default">
					<i class="mdi-action-delete"></i>
				</button>

				<!-- Move -->
				<div class="dropup">
					<button data-target="#" data-toggle="dropdown" class="btn btn-flat btn-default">
						<i class="mdi-content-inbox"></i>
					</button>
					<ul class="box-selector-small dropdown-menu">
						{{#each boxes.model as |boxModel|}}
							{{box-item box=boxModel clickAction="moveSelectedMessages" hiddenBoxes=boxes.selectedBox}}
						{{/each}}
					</ul>
				</div>
			</div>
		</div>
	</nav>
{{/if}}

<div id="page-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<div class="message-list">
					<div class="message-list">
						{{#each model as |messageCategory|}}
							<div class="message-list-group">
								<p class="message-list-group-title">{{messageCategory.name}}</p>

								{{#each messageCategory.messages as |message|}}
									{{#draggable-item content=message.objectReference}}
										{{message-row model=message register="registerMessageRow" unregister="unregisterMessageRow"}}
									{{/draggable-item}}
									<div class="message-list-separator"></div>
								{{/each}}


							</div>
						{{/each}}

						{{#if isMessagesLoading}}
							<div>
								<div class="loading-messages">
									<i class="mdi-notification-sync"></i>
								</div>
							</div>
						{{else}}
							{{#if hasMorePages}}
							<div class="load-more-messages">
								<button {{action "loadMoreMessages"}} class="btn btn-flat btn-default">
									More
								</button>
							</div>
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
