<div id="page-content">
	<div class="container-fluid">
		<div class="erizo-thread">
			<div class="row">
				<div class="col-xs-12">
					<!-- Back -->
					{{#link-to "box" class="btn btn-xs btn-primary"}}<i class="mdi-navigation-arrow-back small"></i>{{/link-to}}

					<!-- Move -->
					<div class="btn-group">
						<a href="#" data-target="#" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown"><i class="mdi-content-inbox small"></i></a>
						<ul class="box-selector-small dropdown-menu">
							{{#each box in controllers.boxes}}
								{{box-item box=box clickAction="moveMessage" hiddenBoxes=controllers.boxes.selectedBox}}
							{{/each}}
						</ul>
					</div>

					<!-- Delete -->
					<a class="btn btn-xs btn-primary" {{action "deleteMessage"}}><i class="mdi-action-delete small"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="erizo-thread-subject">
						<h3>{{model.envelope.subject}}</h3>
					</div>
				</div>
			</div>

			<!-- Message -->
			<div class="row">
				<div class="col-xs-12">
					<div class="erizo-thread-message">
						{{thread-message model=model}}
					</div>
				</div>
			</div>

			<!-- Message composer -->
			<div class="row">
				<div class="col-xs-12">
					<div class="erizo-thread-element">
						<div class="erizo-fixeRelative">
							<!-- Icon -->
							<div class="erizo-fixeRelative-fixe40">
								{{contact-avatar model=newMessage.from}}
							</div>

							<!-- Message -->
							<div class="erizo-fixeRelative-relative erizo-fixeRelative-relative--withPadding erizo-fixeRelative-relative--margin40">
								{{message-composer newMessage=newMessage lastMessage=model}}
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Send button -->
			<div class="form-group">
				<button type="submit" class="btn btn-primary" {{action "sendMessage"}}>Send</button>
			</div>
		</div>
	</div>
</div>
